.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 0.88889rem;
  line-height: 1.5;
  color: $gray-400;
}
.sub-menu{
    
}
.menu-item .sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  display: none;
}
.menu-item:hover > .sub-menu,
.menu-item .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.menu-item .sub-menu li {
  clear: both;
  width: 100%;
}