.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 0.88889rem;
  line-height: 1.5;
  color: $gray-400;
}
.menu-item ul {
    left: 0;
    right: 0;
    display: ;
}

.menu-item ul > li{
    float: left;
}
