.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  font-size: 0.88889rem;
  line-height: 1.5;
  color: $gray-400;
}
.sub-menu{

}
.sub-menu-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.sub-menu-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.sub-menu:hover .sub=menu-content {
  display: block;
}